<!DOCTYPE html>
<html ng-app="WeatherApp">
<head>
  <title>Weather Ache</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  'skeleton', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <%= javascript_include_tag 'materialize', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>



</head>
<base href="/"/>
<body>


  <%= yield %>

<div class="container">
  <h3>Determine your migraine risk!</h3>
</div>

<div class="container" ng-controller="WeatherCtrl as ctrl">
  <form>
    <div class="input-field col s6">

      <input type="text"
      class="u-full-width"
      id="city"
      placeholder="enter your city"
      ng-model='ctrl.zip'
      ng-submit="ctrl.getLatLong()" /> <br>

      <button class="button" ng-click="ctrl.getLatLong();">Migraine Risk</button>
    </form>
  </div>

    <h4>Weather for: {{ctrl.city}} {{ctrl.state}}</h4>

    <!-- <h5>Current Conditions: {{ctrl.summary}} <img ng-src="{{ctrl.icon}}" alt=""/> </h5> -->
    <p>
      Summary: {{ctrl.summary}}
    </p>
    <p>
      Temp: {{ctrl.temp |number:1}} &deg;F
    </p>
    <p>
      Humidity: {{ctrl.humidity}} %
    </p>
    <p>
      Pressure: {{ctrl.pressure}} hba
    </p>

    <!-- Risk Alert -->
    <div class="container" style="">
      <div class="row">
        <div class="eleven columns">
          <!-- High Alert (drop) -->
          <div class="alert" id="message-alert" style="background-color:rgb(255, 126, 126)" ng-show="ctrl.diff<-15 && ctrl.diff >-10">Migraine Risk: High: pressure is dropping {{ctrl.diff | number:1}} hpa over the next 48 hours </div>
          <div class="alert" id="message-alert" style="background-color:rgb(255, 166, 47)" ng-show="ctrl.diff<-5 && ctrl.diff >-10">Migraine Risk: Medium: pressure is dropping by {{ctrl.diff | number:1}} hpa over the next 48 hours </div>
          <!-- Medium Alert (drop) -->
          <div class="alert" id="message-alert" style="background-color:rgb(255, 166, 47)" ng-show="ctrl.diff<-10 && ctrl.diff >-5">Migraine Risk: Medium: pressure is dropping by {{ctrl.diff | number:1}} hpa over the next 48 hours </div>
          <!-- Low Alert (drop) -->
          <div class="alert" id="message-alert" style="background-color:rgb(209, 249, 255)" ng-show="ctrl.diff<-5">Migraine Risk: Low: pressure is dropping by {{ctrl.diff | number:1}} hpa over the next 48 hours </div>
          <!-- Medium Alert (increase) -->
          <div class="alert" id="message-alert" style="background-color:rgb(209, 249, 255)" ng-show="ctrl.diff>14 && ctrl.diff <17 ">Migraine Risk: Medium: pressure is increasing by {{ctrl.diff | number:1}} hpa over the next 48 hours </div>
          <!-- Low Alert -->
          <div class="alert" id="message-alert" style="background-color:rgb(230, 204, 255)" ng-show="ctrl.diff>10 && ctrl.diff < 14">Migraine Risk: Low: pressure is increasing by {{ctrl.diff | number:1}} hpa over the next 48 hours </div>
          <!-- No Alert  -->
          <div class="alert" id="message-alert" style="background-color:rgb(210, 255, 218)" ng-show="ctrl.diff>=0 && ctrl.diff <= 10 || ctrl.diff<=0">Migraine Risk: None: pressure by decreasing by {{ctrl.diff | number:1}} hpa over the next 48 hours </div>

          <div class="alert" id="message-alert" style="background-color:rgb(210, 255, 218)" ng-show="ctrl.diff<=0 && ctrl.diff >= -5 || ctrl.diff<=0">Migraine Risk: None: pressure by increasing by {{ctrl.diff | number:1}} hpa over the next 48 hours </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h4>7 Day Forecast</h4>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Day</th>
            <th>Summary</th>
            <th>Max Temp</th>
            <th>Min Temp</th>
            <th>Pressure</th>
            <th>Humidity</th>
          </tr>
        </thead>
        <tbody ng-repeat="data in ctrl.daily.data">
          <tr>
            <td>
              {{data.time * 1000 | date:"EEEE"}}
            </td>
            <td>
              {{data.summary}}
            </td>
            <td>
              {{data.temperatureMax | number:1}} &deg; F
            </td>
            <td>
              {{data.temperatureMin | number:1}} &deg; F
            </td>
            <td>
              {{data.pressure}} hpa
            </td>
            <td>
              {{data.humidity}} %
            </td>
          </tr>
        </tbody>
      </table>

      <h4>2 Day Hourly Forecast</h4>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Day & Time</th>
            <th>Summary</th>
            <th>Temp</th>
            <th>Pressure</th>
            <th>Humidity</th>
          </tr>
        </thead>
        <tbody ng-repeat="data in ctrl.hourly.data">
          <tr>
            <td>
              {{data.time * 1000 |  date:"EEEE 'at' h:mma"}}
            </td>
            <td>
              {{data.summary}}
            </td>
            <td>
              {{data.apparentTemperature | number:1}} &deg; F
            </td>
            <td>
              {{data.pressure}} hpa
            </td>
            <td>
              {{data.humidity}} %
            </td>
          </tr>
        </tbody>
      </table>
    </div>

</div>
  <div ng-view>

  </div>


  <%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>


</body>
</html>
