<!DOCTYPE html>
<html>
<head>
  <title>WeatherApp</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'skeleton', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:message] %>
  <div class="flash">
    <%= flash[:message] %>
  </div>
  <% end %>
  <%= yield %>


  <!-- <% if current_user %>
  <hr/>
  <form action="<%= session_path %>" method="POST">
    <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input class="waves-effect waves-light btn" type="submit" value="Log Out!" class="btn-primary">
  </form>
  <% end %> -->


</body>
</html>
